
img.bmp
img.png
itchbg.png
OpenGL_2D_App.vcxproj
OpenGL_2D_App.vcxproj.filters
OpenGL_2D_App.vcxproj.user
x64/Debug/app.obj
x64/Debug/game.obj
x64/Debug/geometry.obj
x64/Debug/glad.obj
x64/Debug/graph.obj
x64/Debug/graph.obj.enc
x64/Debug/GraphingProgram.exe.recipe
x64/Debug/GraphingProgram.ilk
x64/Debug/GraphingProgram.tlog/CL.command.1.tlog
x64/Debug/GraphingProgram.tlog/CL.read.1.tlog
x64/Debug/GraphingProgram.tlog/CL.write.1.tlog
x64/Debug/GraphingProgram.tlog/GraphingProgram.lastbuildstate
x64/Debug/GraphingProgram.tlog/link.command.1.tlog
x64/Debug/GraphingProgram.tlog/link.read.1.tlog
x64/Debug/GraphingProgram.tlog/link.write.1.tlog
x64/Debug/input.obj
x64/Debug/main.obj
x64/Debug/OpenGL_2D_App.exe.recipe
x64/Debug/OpenGL_2D_App.ilk
x64/Debug/OpenGL_2D_App.log
x64/Debug/OpenGL_2D_App.tlog/CL.command.1.tlog
x64/Debug/OpenGL_2D_App.tlog/CL.read.1.tlog
x64/Debug/OpenGL_2D_App.tlog/CL.write.1.tlog
x64/Debug/OpenGL_2D_App.tlog/link.command.1.tlog
x64/Debug/OpenGL_2D_App.tlog/link.read.1.tlog
x64/Debug/OpenGL_2D_App.tlog/link.write.1.tlog
x64/Debug/OpenGL_2D_App.tlog/OpenGL_2D_App.lastbuildstate
x64/Debug/render.obj
x64/Debug/shader.obj
x64/Debug/stb_image.obj
x64/Debug/texture.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
x64/Debug/graphic.obj
x64/Debug/tinyfiledialogs.obj
x64/Debug/text.obj
